// ########## All Layout Mixins Here ##########
@mixin wrapper($w) {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: $w;
}

@mixin scorpio-button() {
  width: 150px;
  height: 50px;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 4px 4px 10px $accent-color;
  margin: 60px auto;
  display: block;
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: 700;
  font-size: 13px;
  color: $black;
  letter-spacing: 0.1em;
}

// ########## All Text Mixins Here ##########
@mixin H1($t-a, $c) {
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  margin: 0px;
  padding-top: 60px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H2($t-a, $c) {
  font-family: $font-family;
  font-weight: 700;
  font-size: 30px;
  margin: 0px;
  padding-top: 30px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H3($t-a, $c) {
  font-family: $font-family;
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
  padding-top: 60px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H4($t-a, $c) {
  font-family: $font-family;
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin P($t-a, $c) {
  font-family: $font-family;
  font-weight: 200;
  font-size: 14px;
  margin: 0px;
  line-height: 22px;
  text-align: $t-a;
  color: $c;
}

// ########## All Image Mixins Here ##########
@mixin promo-image($bil) {
  width: 100%;
  height: 250px;
  background: url($bil) no-repeat center;
  background-size: contain;
  overflow: hidden;
}