// ########## All Layout Variables Here ##########
$wrapper-width: 80%;

// ########## All Text Variables Here ##########
$font-family: 'Dosis';

// ########## All Images Variables Here ##########

// ########## All Colors Variables Here ##########
$primary-color: #534741;
$secondary-color: #134A7D;
$accent-color: #fdba26;
$white: #ffffff;
$black: #000000;
$background-image-color: #e8eced;