@import './partials/globals';
@import './partials/mixins';
@import './partials/variables';

@import './modules/app';
@import './modules/hero';
@import './modules/promo';
@import './modules/fromourscorpios';
@import './modules/somenotablescorpios';
@import './modules/becomeoneofus';
@import './modules/letsbeintouch';
@import './modules/footer';