#become-one-of-us {
  width: 100%;
  height: 350px;
  background: $background-image-color url('./images/become-a-scorpio.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .become-one-of-us-heading {
      @include H3(center, $primary-color);
    }
    .become-one-of-us-subheading {
      @include H4(center, $primary-color);
    }
    .become-one-of-us-button {
      @include scorpio-button();
    }
  }
}