#footer {
  width: 100%;
  
  background-color: $accent-color;
  .wrapper {
    @include wrapper($wrapper-width);
    .filler{
      padding-bottom:60px;
    }
    .footer-container-left {
      width: 50%;
      float: left;
      .footer-heading {
        font-family: $font-family;
        font-size: 36px;
        text-transform: uppercase;
        padding-top: 10px;
        margin: 0px;
      }
      .footer-disclaimer {
        font-family: $font-family;
        font-size: 14px;
        margin: 0px;
        position: relative;
        bottom: -2px;
      }
      
    }
    .footer-container-right {
      width: 50%;
      float: right;
      .footer-heading {
        font-family: $font-family;
        font-size: 36px;
        text-transform: uppercase;
        padding-top: -10px;
        margin: -2px;
      }
      .footer-disclaimerleft {
        line-height: 14px;
        margin-left: 350px;
        position: relative;
        margin-top: 80px;
        padding-top:180px;

        .fab {
          color: $primary-color;
          text-decoration: none;
          margin-right: 30px;
        } 
      }
      .footer-disclaimer {
        line-height: 14px;
        margin-left: 350px;
        position: relative;
        margin-top: 50px;
        .fab {
          color: $primary-color;
          text-decoration: none;
          margin-right: 30px;
        } 
      }
    }
  }
}