#from-our-scorpios {
  width: 100%;
 
  background: $background-image-color url('./images/from-our-scorpios.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .filler{
      padding-top:60px;
    }
    .from-our-scorpios-heading {
      @include H3(center, $white, 60px);
    }
    .from-our-scorpios-subheading {
      @include H4(center, $white, 30px);
    }
    .from-our-scorpios-collection-container {
      padding-top: 60px;
      .from-our-scorpios-button {

        @include scorpio-button(#ffffff,#333,ffffff);
        margin-top: 60px;
      }

      .from-our-scorpios-collection-row{
        background-size: cover;
        .from-our-scorpios-collection-image{
          width: 150px;
          height: 150px;
          padding-left: 5px;
          padding-top: 5px;
        }
      }
    }
  }
}