#from-our-scorpios {
  width: 100%;
  height: 1179px;
  background: $background-image-color url('./images/from-our-scorpios.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .from-our-scorpios-heading {
      @include H3(center, $white);
    }
    .from-our-scorpios-subheading {
      @include H4(center, $white);
    }
    .from-our-scorpios-collection-container {
      padding-top: 60px;
      .from-our-scorpios-button {
        @include scorpio-button();
      }
    }
  }
}