#lets-be-in-touch {
  width: 100%;
  height: 350px;
  background: $background-image-color url('./images/get-in-touch.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .lets-be-in-touch-heading {
      @include H3(center, $accent-color);
    }
    .lets-be-in-touch-subheading {
      @include H4(center, $accent-color);
    }
  }
}