#promo {
  width: 100%;
  height: 500px;
  .wrapper {
    @include wrapper($wrapper-width);
    .promo-heading {
      @include H3(center, $primary-color);
    }
    .promo-content-container {
      width: 100%;
      height: 250px;
      margin-top: 60px;
      .promo-image-container {
        width: 50%;
        height: 250px;
        float: left;
        .promo-image {
          @include promo-image('./images/scorpio-club.jpg')
        }
      }
      .promo-text-container {
        width: 50%;
        height: 250px;
        float: left;
        .promo-text {
          @include H4(left, $black);
          padding: 70px 150px;;
        }
      }
    }
  }
}