#some-notable-scorpios {
  width: 100%;
  height: 1179px;
  background: $background-image-color url('./images/some-notable-scorpios.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .some-notable-scorpios-heading {
      @include H3(center, $white);
    }
    .some-notable-scorpios-subheading {
      @include H4(center, $white);
    }
    .some-notable-scorpios-collection-container {
      padding-top: 60px;
      .some-notable-scorpios-button {
        @include scorpio-button();
      }
    }
  }
}